/ADCBoard/adc18b_brd.HWORKS.Hoki.pui
/ADCBoard/prj/db
/ADCBoard/prj/incremental_db
/ADCBoard/prj/output_files
/FPGABoard/FPGABrd.HWORKS.Hoki.pui
/FPGABoard/prj/db
/FPGABoard/prj/greybox_tmp
/FPGABoard/prj/adcs-huxiaokai-1.qws
/FPGABoard/prj/incremental_db/compiled_partitions
/FPGABoard/prj/output_files
/FPGABoard/prj/incremental_db
/FPGABoard/FPGABrd.DESKTOP-L06O4HL.Hoki.pui
/FPGABoard/stp/stp1-huxiaokai-1.stp
/FPGABoard/prj/*.rpt
/FPGABoard/prj/adcs.map.summary
/FPGABoard/prj/adcs.qws
/ADCBoard/adc18b_brd.DESKTOP-L06O4HL.Hoki.pui
/FPGABoard/ADCLVDS.HWORKS.Hoki.pui
/FPGABoard/prj/*.bak
/FPGABoard/src/*.bak
/FPGABoard/ADCLVDS.DESKTOP-MAA3RTM.Hoki.pui
/FPGABoard/prj/adc_v2.qws
